<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href=""{{ url_for('static', filename='ssuet1project.css') }}">
</head>
<body>

<nav class="navbar">
    <div class="logo">
    <a href="#"><img src="{{ url_for('static', filename='images/gym.PNG.png') }}" alt=""></a>
    <a href="#">ARNOLD GYM</a>
</div>

    <Ul>
        <li><a href="#">CONTACT</a></li>
        <li><a href="#">PACKAGE</a></li>
        <li><a href="/about">ABOUT US</a></li> 
    </Ul>
</nav>

<div class="banner">
   <h1>Unlock your full potential—strength, confidence, and energy await you at our gym!
     Come join us and transform your body, mind, and life today!</h1>
    <a href="#" class="button">membership</a>

</div>

<footer class="foo">
     <h2>About us</h2>
     <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas, perferendis? <br> Incidunt quae perferendis adipisci 
         praesentium iusto dicta sequi. <br> Ex cupiditate perspiciatis recusandae tempora provident.<br> Eos laudantium doloribus 
         ab velit accusantium!</p>

    <a href="#" class="fa fa-facebook"></a>
    <a href="#" class="fa fa-twitter"></a>
    <a href="#" class="fa fa-youtube"></a>
    <a href="#" class="fa fa-instagram"></a>   

</footer>

</body>
</html>